<div class="d-flex min-vh-100">
	<div class="container align-self-center">

		<div class="row justify-content-center">

			<div class="col-12 col-lg-8 col-xl-6 text-center">

				<div class="lc-block mb-2">
					<img class="img-fluid w-75" alt="Photo by Sebastian Pichler" src="../../assets/images/404.svg">
					</div>
				<div class="lc-block mb-4 mt-5">
					<div editable="rich">

						<h2 class="fw-bold"><span class="text-danger">OOPS! </span> PAGE NOT FOUND.</h2>

						<p>The page you are looking for does not exist.</p>
					</div>
				</div>
				<div class="lc-block">
					<a class="btn btn-success" routerLink="/" role="button">Go to home</a>
				</div>

			</div>
		</div>
	</div>

</div>