<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-3">
            <div class="lc-block">
                <h2 class="mb-0 fw-bold">Welcome to <span class="text-success"> admin dashboard </span></h2>
            </div><!-- /lc-block -->
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-7 col-lg-3 me-lg-4 rounded shadow-sm my-4 p-3 bg-light" style="transition: all 0.3s ease-in-out;">
            <div class="lc-block text-center">
                <img class="img-fluid" src="../../../../assets/images/manage1.svg" style="height:50px;">
            </div>

            <div class="lc-block rounded text-center py-3">
                <div editable="rich" class="rich">
                    <h5 class="mb-3">Manage policy</h5>
                </div>
                <a routerLink="/admin/dashboard/manage-policy" class="btn btn-success">manage</a>
            </div><!-- /lc-block -->
        </div>
        <div class="col-md-7 col-lg-3 me-lg-4 rounded shadow-sm my-4 p-3 bg-light" style="transition: all 0.3s ease-in-out;
">
            <div class="lc-block text-center">
                <img class="img-fluid" src="../../../../assets/images/manage1.svg" style="height:50px;
">
            </div>

            <div class="lc-block rounded text-center py-3">
                <div editable="rich" class="rich">
                    <h5 class="mb-3">Manage underwritter</h5>
                </div>
                <a routerLink="/admin/dashboard/manage-underwriter" class="btn btn-success">manage</a>
            </div><!-- /lc-block -->
        </div>
        <div class="col-md-7 col-lg-3 me-lg-4 rounded shadow-sm my-4 p-3 bg-light" style="
transition: all 0.3s ease-in-out;
">
            <div class="lc-block text-center">
                <img class="img-fluid" src="../../../../assets/images/manage1.svg" style="height:50px;
">
            </div>

            <div class="lc-block rounded text-center py-3">
                <div editable="rich" class="rich">
                    <h5 class="mb-3">View Purchases</h5>
                </div>
                <a routerLink="/admin/dashboard/view-purchases" class="btn btn-success">view</a>
            </div><!-- /lc-block -->
        </div>
    </div>
</div>