<div class="container">
    <div class="row">
        <div class="col-md-12 text-center my-3">
            <div class="lc-block">
                <h2 class="mb-0 fw-bold">Manage <span class="text-success">Policy</span></h2>
            </div><!-- /lc-block -->
        </div>
    </div>
    
    <div class="row mt-3 mb-4">
        <div class="card" style="width: 18rem;">
            <div class="row no-gutters">
                <div class="col-4 d-flex align-item-center justify-content-center">
                    <img class="card-img" src="../../../../assets/images/addPolicy.svg" alt="">
                </div>
                <div class="col-auto">
                    <div class="card-body">
                        <h4 class="card-title">Add Policy</h4>
                        <a routerLink="/admin/dashboard/manage-policy/add-policy" class="btn btn-success btn-sm"><i class="bi bi-file-earmark-plus"></i>&nbsp; Add</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row text-end mt-4">
		<p class="h6 text-muted text-capitalize">filter plans <i class="bi bi-funnel"></i></p>
		<div class="col-md-12 d-flex align-item-center justify-content-end">
			<div class="btn-group-sm btn-group" (click)="onButtonGroupClick($event)" role="group" aria-label="Basic outlined example">
				<button type="button" (click)="getPolicies()" class="btn btn-outline-success active">All</button>
				<button type="button" (click)="getPolicyBySubtype('family')" class="btn btn-outline-success">Family</button>
				<button type="button" (click)="getPolicyBySubtype('individual')" class="btn btn-outline-success">Individual</button>
				<button type="button" (click)="getPolicyByType('life')" class="btn btn-outline-success">Life</button>
				<button type="button" (click)="getPolicyByType('dental')" class="btn btn-outline-success">Dental</button>
			  </div>
			
		</div>
	</div>

    <div class="row mt-4">
        <h4 class="text-capitalize">All policies</h4>
        <table  class="table table-striped mt-2">
            <thead>
                <tr class="table-dark">
                    <th scope="col">Name</th>
                    <th scope="col">Type</th>
                    <th scope="col">Sub Type</th>
                    <th scope="col">Base Amount</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let policy of policies">
                    <td class="text-capitalize">{{ policy.name }}</td>
                    <td class="text-capitalize">{{ policy.type }}</td>
                    <td class="text-capitalize">{{ policy.subtype }}</td>
                    <td class="text-capitalize">{{ policy.amount | number }}/-</td>
                    <td>
                        <a (click)="showDetails(policy.policyId)" class="btn btn-sm me-2 mb-2 btn-info"><i class="bi bi-eye"></i> view</a>
                        <a (click)="updatePolicy(policy.policyId)" class="btn btn-sm me-2 mb-2 btn-warning"><i class="bi bi-pen"></i> update</a>
                        <a (click)="deletePolicy(policy.policyId)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-sm me-2 mb-2 btn-danger"><i class="bi bi-trash3"></i> delete</a>
                    </td>
                </tr>
                <!-- <tr>
                    <th scope="row">2</th>
                    <td>name here</td>
                    <td>individual</td>
                    <td>premium here</td>
                    <td>
                        <a href="" class="btn btn-sm me-2 btn-info"><i class="bi bi-eye"></i> view</a>
                        <a href="" class="btn btn-sm me-2 btn-warning"><i class="bi bi-pen"></i> edit</a>
                        <a href="" class="btn btn-sm me-2 btn-danger"><i class="bi bi-trash3"></i> delete</a>
                    </td>
                </tr> -->
            </tbody>
        </table>
    </div>

    <div *ngIf="!(hasError === '')"><div class="text-danger"><h6 class="">{{ hasError }}</h6></div></div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" [ngClass]="modalSuccess?'text-success':'text-danger'" id="exampleModalLabel">{{ modalSuccess ? 'Deleted successfully': 'Error accured! can not delete try again'}}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>