/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,800;0,900;1,100;1,200;1,300;1,400;1,500&display=swap');


*{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6, button, .btn{
    text-transform: capitalize;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}