<div class="container cta-section mb-5 mt-5 d-none d-md-block d-lg-block">
	<div class="row p-5 cta-bg text-light cta-rounded">
		<div class="col-md-9">
			<div class="lc-block">
				<div editable="rich">

					<h2>See the plans </h2>

					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse a lacus est.</p>
				</div>
			</div>
		</div>
		<div class="col-md-3 align-self-center text-center">
			<div class="lc-block">
				<a class="btn btn-light btn-lg" routerLink="/policy" role="button">Get plans</a>
			</div>
		</div>
	</div>
</div>
